@tailwind base;
@tailwind components;
@tailwind utilities;
.high
{
    height: 310px;
}
.chrome
{
  position: absolute;
  top: 90px;
  z-index: 10;
}

.high2
{
    height: 500px;
}
.card1{
    width: 32rem;

}
.card2{
    height: 430px;
}
.position1{
    top: -42px;
    
}
.position2{
    right: -42px;
}

  
  .resizeable {
    position: absolute;
    
    width: 100px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    min-height: 15px;
    
    cursor: pointer;
  }
  
  .resizer {
    position: absolute;
  }
  
  .resizer-r {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
  }
  
  .resizer-t {
    cursor: row-resize;
    height: 5px;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .resizer-b {
    cursor: row-resize;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .resizer-l {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
  }
  .container {
    position: relative;
    border: 1px solid black;
    height:100%;
    width: 100%;
    overflow: hidden;
  }
  .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }
    .axis text {
      font-size: 8px; /* Réduit la taille de la police pour éviter le chevauchement */
    }
    .rotated-range {
      transform: rotate(90deg);
      transform-origin: left bottom;
  }
  input[type="range"] {
    -webkit-appearance: none; /* Enlève le style par défaut de l'élément */
    width: 100%; /* Largeur de l'élément */
    
    background:transparent; /* Rend la piste transparente */
    border-radius: 5px; /* Coins arrondis */
    outline: none; /* Retire le contour */
    width: 483px;
    opacity: 1; /* Assure que l'élément lui-même est visible */
}

/* Style de la poignée pour les navigateurs WebKit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Enlève le style par défaut de la poignée */
    width: 10px; /* Largeur de la poignée */
    height: 10px; /* Hauteur de la poignée */
    background: #2474be; /* Couleur de la poignée */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 50%; /* Forme ronde */
}

/* Style de la poignée pour Firefox */
input[type="range"]::-moz-range-thumb {
    width: 10px; /* Largeur de la poignée */
    height: 10px; /* Hauteur de la poignée */
    background: #4CAF50; /* Couleur de la poignée */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 50%; /* Forme ronde */
}

/* Style de la piste pour Firefox */
input[type="range"]::-moz-range-track {
    background: transparent; /* Rend la piste transparente */
}

/* Style de la piste pour IE */
input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Rend la piste transparente */
    border-color: transparent;
    color: transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Couleur de la piste de défilement */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #505050; /* Couleur de la barre de défilement */
  border-radius: 6px; /* Arrondir les coins */
  border: 3px solid #f1f1f1; /* Couleur du fond pour espacer la barre de défilement */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}
